<h1>Example App: Home</h1>

<h3>Register</h3>
<form action="/auth/register" method="POST">
    <input type="text" placeholder="username" name="username" />
    <input type="password" placeholder="password" name="password" />
    <input type="submit" value="register" />
</form>

<h3>Login</h3>
<form action="/auth/login" method="POST">
    <input type="text" placeholder="username" name="username" />
    <input type="password" placeholder="password" name="password" />
    <input type="submit" value="register" />
</form>

<h3>logout</h3>
<a href="/auth/logout">log out</a>